.container{
    border: dashed;
    border-color: red;
    padding: 20px;
    width: fit-content;
}

.container .login-container{
    display: flexbox;
}

.chat-container{
    display: flex;
}

.chatApp{
    width: fit-content;
    border: solid;
}

.chatApp .chatBoxName{
    border-bottom: solid;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.chatApp .chatAppMessage{
    width: auto;
    display: block;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: solid;
}
.chatApp .chatAppMessage .messageContainer{
    border: solid darkblue;
    overflow: auto;
}

.chatApp .chatAppMessage .messageContainer .sender{
    float: right;
    width: fit-content;
    border: solid red;
    padding: 5px 10px;
    margin: 0 0 15px 0;
    border-radius: 10px;
}

.chatApp .chatAppMessage .messageContainer .receiver{
    width: fit-content;
    border: solid green;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}

.chatApp .chatAppChatroom{
    padding: 10px;
}

.chatApp .chatAppChatroom .inputBox{
    padding: 10px;
    margin: 25px;
}

.chatApp .chatAppChatroom .chatRoomSend{
    padding: 25px;
}
.chatApp .chatAppChatroom .clearChatBox{
    padding: 25px;
}

.chat-container .online-users{
    border:solid;
    height: auto; 
}

.chat-container .online-users .heading-box{
    display: flex;
    border-bottom: solid;
    padding: 25px;
}

.chat-container .online-users .heading-box .room-heading{
    align-items: center;
    font-weight: 500;
}

.chat-container .online-users .room-users .list-users{
    list-style: none;
    margin-right: 20px;
}
